<h1>Admin Users</h1>
<%= paginate(@admin_users) %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
      <td style= "padding: 8px;"><%= admin_user.firstname%></td>
      <td style= "padding: 8px ;"><%= admin_user.lastname%></td>
      <td style= "padding: 8px ;"><%= admin_user.email%></td>
        <td style= "padding: 8px ;"><%= link_to 'Show', admin_user_path(admin_user.id) %></td>
        <td style= "padding: 8px ;"><%= link_to 'Edit',  edit_admin_user_path(admin_user.id) %></td>
        <td style= "padding: 8px ;"><%= link_to 'Destroy', admin_user_path(admin_user.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button <%= link_to 'New Admin User', new_admin_user_path %> > </button>
<p></p>
